.btn-bz-danger{
    background: #B68C5A;
    color: #FFFFFF;
    border:5px solid #B68C5A;
    border-radius: 5px;
}
.banner-img-1{
    background-image:url("../images/banner.png") ;
    height: 70vh;
    
}
